@{
    ViewBag.Title = "Home Page";
}
<section>
    <div class="container">
        <div class="row">
            <a class="btn btn-default" href="~/Perfil">Mantenedor Perfiles</a>
            <a class="btn btn-default" href="~/Usuario">Mantenedor Usuarios</a>
        </div>
    </div>
</section>
