@{
    ViewBag.Title = "Home Page";
}
<section>
    <a class="btn btn-default" href="~/Perfil">Mantenedor Perfiles</a>
    <a class="btn btn-default" href="~/Usuario">Mantenedor Usuarios</a>
</section>
